body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
section:after{
    clear: both;
    content: "";
    display: table;
    padding-bottom: 50px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
nav#menu{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav#menu a{ 
    color: white;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    display: inline-block;
    
}
nav#menu a:hover{
    background-color: white;
    color: black;

}
.right{
    float: right;
}

section#principal{
    height: 100vh;
    text-align: center;
    background-size:cover;
    color: white;
    background-image: url("../img/header-bg.jpg");

}
div#conteudo-principal{
    top: 40%;
    position: relative;
}

div#conteudo-principal h1{
    font-size: 70px;
}
div#conteudo-principal h3{
    font-size: 30px;
}

a.botao{
    background:orange;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    line-height: 70px;
}
a.botao:hover{
    background-color: orangered;
}
.bg-cinza{
    background-color: #333;  
}
/* ------------------Seção 2------------------------------------ */
div.conteudo{
    padding: 50px;
    text-align: justify;
}
h1.titulo{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
/* ------------------Seção 3------------------------------------ */
div.item{
    width: 33%;
    text-align: center;
    float: left;
}
section#contato input, section#contato textarea{
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
}